<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.njk' %}
    <body class="antialiased font-sans text-black text-base font-normal leading-normal">
        {% include 'partials/nav.njk' %}
        <main class="py-12 sm:py-16 px-6 md:px-12">
            <div class="max-w-xl mx-auto">
                {{ content | safe }}
            </div>
        </main>
        <script src="/index.js"></script>
    </body>
</html>